.a {
    background-color: blueviolet;
    height: 300px;
    margin-bottom: 1%;
    overflow: scroll;
}
.b {
    background-color: burlywood;
    height: 200px;
    margin-bottom: 1%;

}
.c {
    background-color: honeydew;
    height: 400px;
    margin-bottom: 1%; }
.d {
    background-color: yellowgreen;
    height: 250px;
    margin-bottom: 1%; }
}    