.t{display: flex;}
.box1{
    background-color: tomato;
    height: 300px;
    width: 25%;
    margin: 25px 20px;
    display: flex;
    
}
img {
    height: 70%;
    width: 70%;
    position: relative;
    display: block;
    right: 20px;
    bottom: 20px;
}
.text{font-size: 100%;
    color: white;

} 
.box2{
    background-color:green;
    height: 300px;
    width: 25%;
    margin: 25px 20px;
    display: flex;
}
.Batm{font-size: 100%;
    color: white;

}
.box3{background-color: teal;
    height: 300px;
    width: 25%;
    margin: 25px 20px;
    display: flex;
}
.h{font-size: 100%;
    color: white;}
  .box4{
      background-color: slateblue;
      height: 300px;
    width: 25%;
    margin: 25px 20px;
    display: flex;
  }  
.r{font-size: 100%;
    color: white;}
    .i{
        background-color: lightblue;
        height: 300px;
        width: 25%;
        margin: 25px 20px;
    }