body{background-color: coral;}
h1{color: crimson;}
p{color: white;}
h2{color: teal;}
ol{color: teal;}
ul{color: teal;}
h3{color: thistle;}
img{border-radius: 400px;
margin: auto;
display: block;}
b {border: yellowgreen;}